.header {
  position: relative;
  background: $fourthColor;
  z-index: 99;
}

.logo {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  padding: 1rem 1.5rem 6rem;
  background: $primaryColor;
  position: absolute;
  left: 0;
  top: 0;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: .3rem;

  &__tiny {
    font-weight: 300;
    letter-spacing: .5rem;
  }

  &__strong {
    font-weight: 700;
  }
}

.menuToggler {
  appearance: none;
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 2.5rem;
  width: 4rem;
  height: 3.5rem;
  cursor: pointer;
  border-radius: .5rem;
  border: .2rem solid $primaryColor;
  padding: .6rem .5rem;
  background: $fourthColor;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  &__line {
    width: 100%;
    height: .3rem;
    background-color: $primaryColor;
    display: block;
    border-radius: 1rem;
  }
}

.mobileMenu {
  position: absolute;
  right: 1.5rem;
  top: 6.5rem;
  width: auto;
  height: auto;
  background: $primaryColor;
  color: $fourthColor;
  flex-direction: column;
  border-radius: .5rem;
  padding: 1rem;
  opacity: 0;
  display: none;

  &.active {
    display: flex;
    opacity: 1;
    z-index: 99;
  }
  
  a {
    color: white;
    font-size: 1.6rem;
    display: block;
    line-height: 1;
    padding: 1.3rem 5rem;
    text-align: center;
  }
}